@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    margin-bottom: 1.3rem;
    font-size: 5vmin;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    h2 {
        font-size: 8vmin;
    }
}


h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.set-max-width {
    max-width: 1300px;
}

.text-gradient {
    background-color: brown;
    background-image: linear-gradient(45deg, brown, #4256af);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.back-gradient {
    background-color: brown;
    background-image: linear-gradient(45deg, brown, #4256af);
    background-size: 100%;
}

/* || HEADER */
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    z-index: 100;
}

/* Brand Logo */
#brand {
    font-weight: bold;
    display: flex;
    align-items: center;
}

#brand>a {
    display: block;
    color: white;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#brand>a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* || NAVIGATION */
header ul {
    margin-top: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul li {
    padding: 5px;
}

header ul li a {
    display: block;
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

header ul li a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Hamburger Menu */
#hamburger-icon {
    box-sizing: border-box;
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Hamburger Animation */
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 210px;
    padding-top: 20px;
    background-color: rgb(168, 156, 156);
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
    #navbar {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}


/* || WELCOME SECTION */
#welcome-section {
    background-color: #dbd8d8;
    background-image: linear-gradient(90deg, rgb(224, 224, 224), #f5f3f3);
    background-size: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    margin-bottom: 1rem;
    font-size: 14vmin;
    font-weight: bold;
    text-align: center;
}

#subtitle {
    font-size: 6vmin;
    font-style: italic;
    text-align: center;
}

/* || ABOUT ME SECTION */

#about-me {
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 40, 65);
}

#about-me h2 {
    color: white;
}

#about-me p {
    color: white;
    max-width: 800px;
    margin-bottom: 20px;
}

#bio-wrapper {
    display: flex;
}

#bio-wrapper > .text-about-me {
    padding-right: 20px;
}

@media only screen and (max-width: 700px) {
    #bio-wrapper {
        flex-direction: column;
        align-items: center;
    }
    #about-me {
        height: auto;
        padding: 50px 20px 50px 20px;
    }
}

#portrait {
    display: block;
    max-width:230px;
    max-height:300px;
    width: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#portrait:hover {
    box-shadow: rgba(14, 30, 37, 0.62) 0px 2px 4px 0px, rgba(14, 30, 37, 0.62) 0px 2px 16px 0px;
    transform: scale(1.05);
    transition: 2s;
}

/* || PROJECTS SECTION */
#projects-section {
    padding: 100px 50px 50px 50px;
}

#projects-section>.set-max-width {
    margin: 0 auto;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(200px, 100%/4)), 1fr));
    gap: 30px;
    padding: 20px 50px 20px 50px;
}

@media screen and (max-width: 700px) {
    #projects {
        padding: 20px 0px 20px 0px;
    }

    #projects-section {
        padding: 100px 0px 50px 0px;
    }
}

.project-tile {
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 0%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.project-tile:hover {
    box-shadow: rgba(14, 30, 37, 0.62) 0px 2px 4px 0px, rgba(14, 30, 37, 0.62) 0px 2px 16px 0px;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.img-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    overflow: hidden;
}

/* || CONTACTS SECTION */
#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}

.contacts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-div>h2 {
    margin: 0px 0px 20px 0px;
}

.contacts-div a {
    display: block;
    color: white;
    text-decoration: none;
}

.contacts-div a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#contacts ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

#contacts ul li {
    text-align: center;
    padding: 0px 20px 0px 20px;
}

/* || FOOTER */

footer {
    background-color: rgb(36, 36, 36);
    padding: 20px;
    display: flex;
    justify-content: end;
}

footer p {
    color: lightgray;
    font-size: 0.8rem;
}